<!DOCTYPE html>
<html>
<head>
<title>{{title}}</title>
{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#"><img src="{% static 'imgs/nav-logo.png' %}" width="40" height="40" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {{active_index}}">
        <a class="nav-link" href="{% url 'index' %}">Тута</a>
      </li>
      <li class="nav-item {{active_users}}">
        <a class="nav-link" href="{% url 'users' %}">Известные древолазы</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Войти</a>
      </li>

    </ul>

  </div>
</nav>

{% block header %}{% endblock %}

<main role="main" class="container" style='padding:4rem'>
 {% block content %}{% endblock %}
</main>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"> </script>
  <script src="{% static 'js/bootstrap.min.js' %}"> </script>
</body>
</html>
