{% extends "generic.html" %}
{% block header %}
{% load static %}
<div id="carouselcycle" class="carousel slide" data-ride="carousel" data-interval='900'>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="{% static 'imgs/text1.jpg' %}" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static 'imgs/text1.jpg' %}" alt="Third slide">
    </div>
  </div>
</div>
{% endblock %}
{% block content %}
  {{msg}}
{% endblock %}
