{% extends "generic.html" %}
{% block header %}

{% endblock %}
{% block content %}
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Позывной</th>
      <th scope="col">VK</th>
      <th scope="col">Город</th>
      <th scope="col">Добавил деревьев</th>
    </tr>
  </thead>
  <tbody>

{% for user in users %}
<tr>
    <td>{{ user.name}}</td>
    <td>{{ user.vk }}</td>
    <td>{{ user.city }}</td>
    <td>{{ user.trees }}</td>
</tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}
